<%- include('header.ejs') %>

<div class="container-fluid">
    <%- include('champ_item_selection.ejs') %>


    <!-- My scripts -->
    <script src="/js/common/common.js"></script>
    <script src="/js/common/champ_item_collapse.js"></script>
    <script src="/js/common/filter.js"></script>
    <script src="/js/common/calcs.js"></script>
</div>

<%- include('footer.ejs') %>