<%- include('header.ejs') %>

<div class="container-fluid">
    <div>
        <h4>Try searching champions by tags:</h4>
        <ul>
            <li><code>fighter</code> or <code>bruiser</code></li>
            <li><code>tank</code></li>
            <li><code>adc</code> or <code>marksman</code></li>
            <li><code>mage</code></li>
            <li><code>bot</code></li>
            <li><code>sup</code></li>
        </ul>

    </div>
</div>

<%- include('footer.ejs') %>