<div class="container-fluid sticky-top px-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
        <h1 class="navbar-brand user-select-none">League Calculator</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/stats_calc">Stats Calculator</a>
                <a class="nav-item nav-link" href="/damage_calc">Damage Calculator</a>
                <a class="nav-item nav-link" href="/help">Help</a>
            </div>
        </div>
    </nav>
</div>